/**
 * This file holds the declaration of the fonts used in our layout.
 */


@font-face {
    font-family: 'Century Schoolbook';
    src: url('../fonts/centuryschl-roma-webfont.eot');
    src: url('../fonts/centuryschl-roma-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/centuryschl-roma-webfont.woff2') format('woff2'),
         url('../fonts/centuryschl-roma-webfont.woff') format('woff'),
         url('../fonts/centuryschl-roma-webfont.ttf') format('truetype'),
         url('../fonts/centuryschl-roma-webfont.svg#century_schoolbook_lroma') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('../fonts/centuryschl-ital-webfont.eot');
    src: url('../fonts/centuryschl-ital-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/centuryschl-ital-webfont.woff2') format('woff2'),
         url('../fonts/centuryschl-ital-webfont.woff') format('woff'),
         url('../fonts/centuryschl-ital-webfont.ttf') format('truetype'),
         url('../fonts/centuryschl-ital-webfont.svg#century_schoolbook_litalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bagnard';
    src: url('../fonts/bagnard-webfont.eot');
    src: url('../fonts/bagnard-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bagnard-webfont.woff2') format('woff2'),
         url('../fonts/bagnard-webfont.woff') format('woff'),
         url('../fonts/bagnard-webfont.ttf') format('truetype'),
         url('../fonts/bagnard-webfont.svg#bagnardregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Erbar condensed';
    src: url('../fonts/erbar-boldcondensed-webfont.eot');
    src: url('../fonts/erbar-boldcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/erbar-boldcondensed-webfont.woff2') format('woff2'),
         url('../fonts/erbar-boldcondensed-webfont.woff') format('woff'),
         url('../fonts/erbar-boldcondensed-webfont.ttf') format('truetype'),
         url('../fonts/erbar-boldcondensed-webfont.svg#erbarboldcondensed') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Erbar condensed';
    src: url('../fonts/erbar-lightcondensed-webfont.eot');
    src: url('../fonts/erbar-lightcondensed-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/erbar-lightcondensed-webfont.woff2') format('woff2'),
         url('../fonts/erbar-lightcondensed-webfont.woff') format('woff'),
         url('../fonts/erbar-lightcondensed-webfont.ttf') format('truetype'),
         url('../fonts/erbar-lightcondensed-webfont.svg#erbarlightcondensed') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Belgika5th';
    src: url('../fonts/belgika-5th-webfont.eot');
    src: url('../fonts/belgika-5th-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/belgika-5th-webfont.woff2') format('woff2'),
         url('../fonts/belgika-5th-webfont.woff') format('woff'),
         url('../fonts/belgika-5th-webfont.ttf') format('truetype'),
         url('../fonts/belgika-5th-webfont.svg#belgika5th') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belgika8th';
    src: url('../fonts/belgika-8th-webfont.eot');
    src: url('../fonts/belgika-8th-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/belgika-8th-webfont.woff2') format('woff2'),
         url('../fonts/belgika-8th-webfont.woff') format('woff'),
         url('../fonts/belgika-8th-webfont.ttf') format('truetype'),
         url('../fonts/belgika-8th-webfont.svg#belgika8th') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belgika16th';
    src: url('../fonts/belgika-16th-webfont.eot');
    src: url('../fonts/belgika-16th-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/belgika-16th-webfont.woff2') format('woff2'),
         url('../fonts/belgika-16th-webfont.woff') format('woff'),
         url('../fonts/belgika-16th-webfont.ttf') format('truetype'),
         url('../fonts/belgika-16th-webfont.svg#belgika16th') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Belgika40th';
    src: url('../fonts/belgika-40th-webfont.eot');
    src: url('../fonts/belgika-40th-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/belgika-40th-webfont.woff2') format('woff2'),
         url('../fonts/belgika-40th-webfont.woff') format('woff'),
         url('../fonts/belgika-40th-webfont.ttf') format('truetype'),
         url('../fonts/belgika-40th-webfont.svg#belgika40th') format('svg');
    font-weight: normal;
    font-style: normal;
}

