#viewport {
    position: fixed;
    top: 0;
    bottom: 2em;
    left: 0;
    right: 0;
}

#toolbar {
    position: fixed;
    height: 2em;
    bottom: 0em;
    left: 0;
    right: 0;

    background-color: lightgrey;
}

iframe {
    width: 100%;
    height: 100%;
}
