.cover {
    background-size: cover;
    background-repeat: no-repeat;
}

.cover--first { background-image: url(/cover-outlines.svg); }

.cover--bleed {
    padding: 3mm;
    position: relative;
    top: -3mm;
    left: -3mm;
}

/**
 * Nice trick: mettre les images de double en fond de page!
 */

.cover--left { background-position: left; }
.cover--right { background-position: right; }
.cover--right { background-position: -600px; }


