/**
 * 


/* the geometry of the page */
@page-width: 482pt;
@page-height: 652pt;


/* the size of the crop marks */
@crop-size: 7mm;

/* the size of bleed */
@bleed: 5mm;

// FIXME: make a case for single page layouts
@page-margin-inside: 34pt;
@page-margin-outside: 24pt;
@page-margin-top: 24pt;
@page-margin-bottom: 40pt;

@footer-height: 12mm;
@footer-text: counter(page-counter);

@body-width:@page-width - @page-margin-inside - @page-margin-outside;
@body-height:@page-height - @page-margin-top - @page-margin-bottom;



/*grid*/
@col-number: 9;
@col-gutter: 6pt;

@row-number: 9;
@row-gutter: 6pt;


@grid-color:rgba(255,0,0,1);

/*à vérifier*/
@body-size: @page-width - @page-margin-inside - @page-margin-outside;
@column-size: (@body-size - (10pt * 11)) / 12;
@gutter:12pt;
